@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.container-fluid.container-card {
    border: 2px solid black;
    width: 450px;
    padding: 10px;
    margin: 30px;
    height: auto;
    border-radius: 9px;
    box-shadow: 5px 5px 5px black;
}


.add-buttons{
    text-align: end;
    /* display: flex; */
    /* justify-content: end;
    align-items: center;*/
    margin-bottom: 20px; 
    margin-right: 20px;
}


/* a{
    color: black;
} */

.container-a {
    text-decoration: none;
    color: black;
}

.teacher-container {
    margin-left: 30px;
    margin-right: 30px;
}


/* a {
    text-decoration: none;
    color: black;
} */

.c-item img {
    width: 120px;
    height: auto;
}

ul {
    /* color: black; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-top: 5%;
}

.container-fluid.mt-4 {
    display: flex;
    
    /* padding-left: 30px; */
    padding-top: 50px;
}



.vertical-line {
    width: 2px; /* Line thickness */
    height: 500px; /* Line height */
    background-color: black; /* Line color */
    margin: 0 auto; /* Center the line */
}

.def_size {
    height: 60px;
    width: auto;
    margin: 10px;
}

.sidebar {
    background-color: honeydew;
}

.offcanvas {
    width: 250px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/teacher.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(7px);
    /* Apply blur only to the background */
    z-index: -1;
    /* Send it to the back */
}

.mainForm {
    background-color: aliceblue;
    padding: 70px;
    border-radius: 10px;
    width: 70%;
}



.container-fluid.errorMessage {
    display: flex;
    align-content: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .container-fluid.mt-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .addButton {
        display: block !important;
        text-align: end;
        margin-right: 25px;
    }

    .mainForm {
        display: none;
    }

    .container-fluid.errorMessage {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .container-fluid.mt-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    .addButton {
        display: block !important;
        text-align: end;
        margin-right: 25px;
    }

    .mainForm {
        display: none;
    }

    .container-fluid.errorMessage {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-top: 5%;
}
